@charset "utf-8";
/* CSS Document */
/*\\10.10.5.89\e$\GIP1.5\HyGIP\LayoutDesign\xconfig\template\style\webpac\css*/
/*----------------------------------------------------------------header start (A)*/

/*---footer start (A)*/
.footer p { font-weight: normal; }
.footer .update { background: url(none); }
.footer .update em { font-style: normal; font-weight: normal; }
.footer .visitor { background: url(none); font-weight: normal; }
.footer .visitor em { font-weight: normal; }
.footer p .email { font-weight: normal; }
.footer p a:hover.email{ font-weight: normal; }
.copyright a { font-weight: normal; }
.copyright a:hover { color: #FFF; background-color: #000; padding: 2px; font-weight: normal; }

/*---search---*/
.header .search label { font-weight: normal; }
.header .search .inputgray { font-weight: normal; }
.header .search .btn { background: url(none); font-weight: normal; }

/*--path--*/
.function a.forward { background: url(none); font-weight: normal; }
.function a.print { background: url(none); font-weight: normal; }
.function a.back, .quickLink a.back { background: url(none); font-weight: normal; }
.function a.gotop, .quickLink a.gotop { background: url(none); font-weight: normal; }
.function a.post { /*分享轉貼*/ background: url(none); font-weight: normal; }
.function li a:hover, .quickLink li a:hover { text-decoration:none; font-weight: normal; }
.path { background: url(none); font-weight: normal; }
.path .before { font-weight: normal; }
.friendly .path a { font-weight: normal; }
.friendly .path a:hover { background-image: none; padding: 5px; font-weight: normal; }
.function li a, .quickLink li a { text-decoration: none; padding: 7px 10px 6px 30px; min-width: 50px; _width:50px; font-weight: normal; }
.cp .quickLink li a { font-weight: normal; }
.function li a:hover, .quickLink li a:hover { background-color: #000; font-weight: normal; }

#toggleFont { font-weight: normal; }
#toggleColor { font-weight: normal; }
