.category {
    text-align: left;
    @include box-sizing;

    ul {
        padding:1em 0 2em;
        margin: 0;
        overflow:hidden;
        clear:both;


        li {
            margin: 0px 0 3px 0px;
            @include make-xs-column(12);
            @include make-sm-column(6);
            @include make-md-column(4);
            @include make-lg-column(3);
            // width: 32.5%;
            @include screen('mobile') {
              width: 100%;  
          }
      }
  }
  a {
    background: #eee;
    padding: .5em 1em;
    margin: 0px 3px 3px 0px;
    display:block;
    color: #0068b7!important;
    @include box-sizing();
    @include border-radius(4px);
    &:hover,
    &:focus {
        background: darken(#333, 5);
        color: #fff!important;
    }
}
.here a {
    background: #0068b7;
    padding: .5em 1em;
    margin: 0px 3px 3px 0px;
    display:block;
    color: #fff!important;
    @include box-sizing();
    @include border-radius(4px);
    &:hover,
    &:focus {
        background: darken(#333, 5);
        color: #fff!important;
    }
}
}
