@mixin fontSetting($FONT-SIZE:$font-size, $WEIGHT:normal) {
    font-size: $FONT-SIZE;
    font-weight: $WEIGHT;
    color: $color-word;
}

@mixin aSetting($COLOR:$aColor, $NOLINE:none) {
    color: $COLOR;
    text-decoration: $NOLINE;
    &:hover,
    &:focus {
        color: $aHover;
        cursor: pointer;
    }
    
}

body {
    @include fontSetting(1em);
    line-height: 1.45em;
    font-family: $font-family;
    -webkit-text-size-adjust: none;
    color: #222;
    @media print {
        font-size: .75em;
    }
    &.small_size {
        font-size: .938em;
    }
    &.large_size {
        font-size: 1.125em;
    }
}

a {
    @include aSetting();
}
h3{
    font-size:1.25em;
}
// .small-fontsize {
//     font-size: .938em;
// }

// .large-fontsize {
//     font-size: 1.125em;
// }


