//header
.header {
    input[type="submit"] {
        box-shadow: none;
    }
    position: relative;
    z-index: 999;
    background: url('../images/header_bg.jpg')no-repeat left top;
    background-size: auto 100%;
    @include box-shadow(0px 2px 5px RGBA(0, 0, 0, .3)); // 虛擬底色 - navigation
    // @include screen('tablet') {
    //     @include clearfix;
    //     position: fixed;
    //     width: 100%;
    // }
    &:before {
        content: "";
        width: 100%;
        // height: 24px;
        // @include gradient($primaryColor, $secondaryColor, horizontal);
        position: absolute;
        top: 0;
        opacity: .8;
        left: 0;
        @include screen('tablet') {
            display: none;
        }
    }
    // mobile btn for extend
    %mobileCtrlBtn {
        width: 60px !important;
        height: 60px !important;
        position: absolute;
        top: 0px;
        display: block;
        font-size: 0em;
        padding: 15px;
        margin: 0;
        min-width: auto;
        min-height: auto;
        background: transparent;
        border: none;
        @include box-sizing;
        @include screen('tablet') {
            display: block !important;
        }
    }
    >.container {
        // max-width: $container-max;
        max-width:100%;
        overflow: visible;
        position: relative; // menu
        // @include gutter;
        @include screen('tablet') {
            @include gutter(0);
        }
        .sidebarCtrl {
            display: none;
            left: 0px;
            margin-top: 10px;
            @extend %mobileCtrlBtn;
            span {
                position: absolute;
                background: #fff;
                width: 50%;
                height: 4px;
                top: 35%;
                left: 50%;
                margin-left: -25%;
                display: block;
                &:nth-child(2) {
                    top: 50%;
                }
                &:nth-child(3) {
                    top: 65%;
                }
            }
            @include screen('mobile') {
                margin-top: 5px;display: block;
            }
        }
        // search
        .searchCtrl {
            display: none;
            right: 0px;
            font-size: 0em;
            @extend %mobileCtrlBtn;
            &:before {
                width: 40px;
                height: 40px;
                background: url(../images/basic/icon_search.png) no-repeat center center;
                background-size: 32px;
                opacity: .6;
                content: "";
                position: absolute;
                top: 10px;
                left: 10px;
                // display: block;
                display: none;
            }
        }
    }
    h1 {
        float: left;
        width: 480px;
        height: 90px;
        margin: 10px 0 0 15px;
        padding: 0;
        @include box-sizing;
        a {
            display: inline-block;
        }
        img {
            display: block;
            max-width: 31.25rem;
            max-height: 4.375rem;
        }
        @include screen('tablet') {
            padding: 0px 0 0 50px;
            margin: 15px 0 0 0;
            width: 100%;
            text-align: center;
            height: 80px;
            img {
                object-fit: contain;
                margin: 0px auto;
                width: 100%;
                height: 80px;
                max-height: 4.065rem;
                max-width: 100%;
                transform: scale(.9);
            }
        }
        @include screen('mobile') {
            height: 70px; 
            margin: 5px 0 0 0;
        }
    }
    // 導覽列
    .navigation {
        @include clearfix;
        // overflow: hidden;
        overflow: visible;
        width: 100%;
        padding-right: 10px;
        margin-bottom: .5em;
        @include box-sizing;
        @include screen('tablet') {
            display: none;
        }
        ul {
            float: right;
            padding: 0;
            margin: 0;
            font-size: .938em;
            list-style: none;
            &.left_nav {
                float: left;
                margin-left: 2em;
            }
        }
        li {
            // float: left;
            display: inline-block;
            margin: 0;
            position: relative;
            a {
                display: block;
                padding: 0 .2em 0 0;
                color: #000;
                text-decoration: none;
                &:hover,
                &:focus {
                    color:#fff;
                    background: #009e95;
                    @include border-radius(3px);
                }
                &:after {
                    @extend %slash;
                    @include screen('tablet') {
                        display: none;
                    }
                }
            }
        }

    }

    .update{
        font-size: .75em;
        color:#fff;
        clear: both;
        margin-left: 10px;
        ul{
            list-style: none;
            line-height: 1.5em;
            margin: 0 0 1em .5em;
            padding: 0;
            li{
               em {
                font-style: normal;
                margin: 0px;
                padding: 0px 3px 0px 3px;
                color: #f6d258;}
            }
        }
        @include screen('tablet') {
            display: none;
            ul{
                margin: 0 0 1em 1.3em;
            }
        }
    }
}
//search
.search {
    min-width: 25%;
    max-width: 50%;
    float: right;
    vertical-align: middle;
    padding: 0em .3em 0em;
    @include box-sizing;
    label {
        font-size: 0em;
    }
    @include screen('tablet') {
        display: none;
    }
    .form_grp {
        margin-bottom: 0;
        margin-right: 0 !important;
        input {
            margin: -0.2em 0 0;
            padding: .2em 35px .2em .5em;
            &[type="submit"] {
                font-size: 0em;
                width: 30px !important;
                height: 30px;
                max-width: 100%;
                min-width: 1.875em;
                background: url(../images/icon_search.png) no-repeat center center;
                background-size: 24px;
                border: none;
                display: inline-block;
                margin-left: -40px !important;
                margin-top: -2px !important;
                opacity: .8;
                &:hover {
                    opacity: 1;
                }
                &:focus {
                    opacity: 1;
                    box-shadow: 0px 0px 0px 2px $form-focus;
                    outline: none;
                }
            }
        }
    }
    .btn_grp {
        padding: .2em;
        margin-bottom: 0;
        input,
        input[type="submit"] {
            margin: 0;
            padding: .4em 1em .4em !important;
            font-size: .813em;
            box-shadow: none;
            background: $color-yellow;
            border-color: $color-yellow;
            color: #333;
            &:hover {
                background: darken($color-yellow, 5);
                border-color: darken($color-yellow, 5);
            }
            &:focus {
                opacity: 1;
                box-shadow: 0px 0px 0px 2px $form-focus;
                outline: none;
            }
        }
    }
    .keywordHot {
        display: inline-block;
        vertical-align: middle;
        margin-left: .5em;
        padding: .1em 0 .3em;
        ul {
            display: inline-block;
            font-size: .813em;
            line-height: 1.65em;
            margin: 0;
            padding: 0;
            &:before {
                display: inline-block;
                content: "";
                color: #999;
                float: left;
            }
            li {
                margin: 0 .6em 0 0;
                padding: 0;
                display: inline-block;
            }
            a {
                &:hover,
                &:focus {
                    text-decoration: underline;
                }
            }
        }
    }
    // m_search
    &.m_search {
        width: 100% !important;
        max-width: 100% !important;
        min-width: auto;
        padding: .2em .3em 1em;
        display: block;
        height: auto;
        position: fixed;
        top: 60px;
        left: 0;
        z-index: 98;
        background: #333;
        label {
            font-size: 0em;
            line-height: 0;
        }
        .form_grp {
            width: 65%;
            height: auto;
            padding: 0 0 0 5% !important;
            margin-top: 0;
            text-align: right;
            float: left;
            height: 50px;
            position: relative;
            @include box-sizing();
            input {
                width: 100%;
                margin: -0.2em 0 0;
                padding: .5em 45px .4em .5em;
                &[type="submit"] {
                    font-size: 0em;
                    width: 2.25em !important;
                    height: 2.25em;
                    padding: 0;
                    max-width: 100%;
                    min-width: 2.25em;
                    background: url(../images/icon_search.png) no-repeat center center;
                    background-size: 24px;
                    border: none;
                    display: inline-block; // margin-left: -50px !important;
                    position: absolute;
                    right: 5px;
                    top: 22px;
                    opacity: .8; // outline:1px solid red;
                    &:hover,
                    &:focus {
                        opacity: 1;
                    }
                }
            }
        }
        .btn_grp {
            display: inline-block;
            padding: .2em;
            margin-bottom: 0;
            width: 20%;
            margin-top: 20px;
            padding-left: 5%;
            @include box-sizing();
            input {
                padding: .6em 1em .7em !important;
                margin: 0;
            }
        }
        .keywordHot {
            padding-left: 5%;
            margin-top: 10px;
            @include clearfix;
            a {
                color: #FFF;
                &:hover,
                &:focus {
                    color: $primaryColor;
                }
            }
        }
    }
}
// header fix
.header.fixed {
    position: fixed;
    width: 100%;
    right: 0;
    top: 1.5em;
    box-shadow: rgba(0, 0, 0, .5) 0 0 25px;
    background: darken($primaryColor, 5);
    z-index: 999;
    @include screen('tablet') {
        background: #FFF;
    }
    .menu {
        >ul {
            >li {
                >a {
                    color: #FFF;
                }
            }
        }
    }
}



