// 以下皆是設定 測試無障礙關閉js 的純css排版
a.goCenter {
    position: absolute;
    top: -2.2em;
    left: 50%;
    margin-left: -480px;
    padding: 0 .5em;
    height: 2em;
    line-height: 2em;
    background: $secondaryColor;
    color: #fff;
    text-decoration: none;
    z-index: 999999999999;
    opacity: 0;
    transition: .5s;
    @include border-radius(0px 0px 4px 4px);
    color: #FFF;
    @include screen("mobile") {
        display: none;
    }
    &:hover,
    &:focus {
        outline: none;
        top: 0;
        opacity: 1;
    }
}

// no-js
.no-js {
    noscript {
        display: block;
        padding: .5em;
        border: 2px solid $primaryColor;
        background: #FFF;
        color: #666;
        overflow: hidden;
        line-height: 1.45em;
        font-size: .813em;
        margin: 0 .5em .5em;
        @include border-radius(4px);
        @include box-sizing;
        a {
            color: $primaryColor;
            &:hover,
            &:focus {
                color: $aHover;
            }
        }
    }
    .search {
        noscript {
            margin-left: 1%;
            margin-right: 1%;
        }
    }
    .tabSet {
        width: 100%;
        max-width: 50rem;
        margin: 0 auto;
        .tabItem {
            width: 100%;
            display: block;
            position: relative;
            color: #000;
            margin-bottom: 0px;
            border-bottom: 3px solid #ddd;
            >a {
                background: none;
                font-size: 1.5em;
                color: #000;
            }
            &:before {
                display: none;
            }
            &.active {
                color: #000;
                width: 100%;
                display: block;
                position: relative;
                border-bottom: 3px solid #ddd;
                >a {
                    color: #000;
                    background: none;
                }
            }
        }
        .tabContent {
            width: 100%;
            position: relative;
            display: block;
        }
    }
    .mp_slider {
        overflow: hidden;
        .img-container {
            float: left;
            display: block;
            width: 48%;
            height: 200px;
            margin: 0px 1% 1em 0;
            @include screen('mobile') {
                width: 80%;
                margin: 0px auto 1em;
                float: none;
            }
            img {
                width: 100%;
            }
        }
    }
    .news_card {
        ul {
            li {
                float: left;
                display: block;
                width: 30%;
                min-height:400px;
                margin: 0px 1% 1em 0;
                h3 {
                    height: 3em;
                    display: block;
                    overflow: hidden;
                    line-height: 1.5em;
                }
                p {
                    height: 4.5em;
                    display: block;
                    overflow: hidden;
                    line-height: 1.5em;
                }
                @include screen('mobile') {
                    width: 80%;
                    margin: 0px auto 1em;
                    float: none;
                }
            }
        }
    }
    .news_list{
    	ul{
    		li{
    			a.more{
    				clear:none;
    			}
    		}
    	}
    }
    .marquee {
        height: auto;
        li {
            display: block;
            list-style: disc;
            a {
                &:before {
                    content: "";
                    width: 6px;
                    height: 6px;
                    @include border-radius(50%);
                    background: #666;
                    display: inline-block;
                    margin-right: .5em;
                    vertical-align: middle;
                }
            }
        }
    }
    .multi_photo,
    .multi_video {
        ul {
            @include li-reset;
            clear: both;
            li {
                float: left;
                display: block;
                width: 45%;
                margin: 0px 1% 1em 0;
                h3 {
                    height: 3em;
                    display: block;
                    overflow: hidden;
                    line-height: 1.5em;
                }
                p {
                    height: 4.5em;
                    display: block;
                    overflow: hidden;
                    line-height: 1.5em;
                }
                @include screen('mobile') {
                    width: 80%;
                    margin: 0px auto 1em;
                    float: none;
                }
            }
        }
    }
    a.more {
        clear: both;
    }
    .service {
        @extend .hot_service;
    }
    .ad_banner {
        ul {
            li {
                width: 165px;
                height: 55px;
                float:left;
                margin:0px 1.1em 1em 0;
            }
        }
    }
}