//pagination

.pagination {
    margin: 10px 1em 5px;
    padding: 0px;
    display: block;
    text-align: left;
    clear: both;
    font-size: .938em;
    @include clearfix();
    span{
        color:#cc0000;
        margin:0px .5em;
    }
    .page {
        margin: 10px 0;
        padding: 0;
        li {
            display: inline-block;
            min-width: 2.5em;
            height: 2.5em;
            margin-bottom: 5px;
            list-style: none;
            @include box-sizing(border-box);
            a {
                border-radius: 5px;
                padding: 6px 10px;
                font-weight: 800;
                display: block;
                white-space: nowrap;
                font-size: 1em;
                color: $color-word;
                background-color: rgb(247, 247, 247); // Old browsers
                @include filter-gradient(#f7f7f7, #eaeaea, vertical); // IE6-9
                @include background-image(linear-gradient(top, rgba(247, 247, 247, 1) 0%, rgba(234, 234, 234, 1) 100%));
                border: #ccc solid 1px;
                &:hover,
                &:focus {
                    background: $primaryColor;
                    color: #fff!important;
                    border: $primaryColor solid 1px;
                }
            }
            &.active {
                a {
                    color: #fff!important;
                    background: $primaryColor;
                    border: $primaryColor solid 1px;
                }
            }
            &.first,
            &.prev,
            &.next,
            &.last {

            }
        }
    }
}

.pagination .total {
    padding: 1px;
    select{
        margin:0px .5em;
        @include screen('mobile') {
            margin:0px;
        }
    }
    a{
        display: inline-block;
        color:$primaryColor;
        &:hover{
            color:$aHover;
        }
    }
}
@media (max-width: 48rem) {
    .pagination .total select.form-control {
        margin: 0px 0px;
        text-align: center;
    }
}