    .function {
        @include make-xs-column(12);
        @include make-sm-column(12);
        @include make-md-column(12);
        @include make-lg-column(12);
        @include gutter(0);
        ul {
            text-align: right;
            float:right;
            li {
                float: left;
                display: block;
                // min-width: 6em;
                text-align: center;
                margin: 0px 1px .2em;
                a {
                    padding: .3em 1em;
                    &.i_mail {
                        &:before {
                            display: inline-block;
                            filter: invert(100%);
                        }
                    }
                }
            }
        }
        margin-bottom: 2em;
        clear: both;
        min-height:2.5em;
    }

    .cp {
        table{
            border: solid 1px #ddd;
            font-size: 1em;
            th{
                background: #605555;
                border: solid 1px #ddd;
                white-space: normal;
                color:#fff;
                line-height: 1.3em;
                padding: 8px 5px;
            }
            td{
                border: solid 1px #ddd;
                line-height: 1.3em;
                padding: 5px;
            }

        }
        img {
            &.float_left {
                float: left;
                max-width: 40%;
                margin: 0px 1em 1em 0;
                min-width: 240px;
                @include screen('mobile') {
                    float: none;
                    width: 100%;
                    max-width: 100%;
                    margin: 0px auto 1em;
                }
            }
            &.float_right {
                float: right;
                max-width: 40%;
                margin: 0px 0 1em 1em;
                @include screen('mobile') {
                    float: none;
                    width: 100%;
                    max-width: 100%;
                    margin: 0px auto 1em;
                }
            }
        }
        p {
            a {
                color: $aHover;
                display: inline-block;
                &:hover {
                    color: $importantColor;
                    text-decoration: underline;
                }
            }
        }
        a {
            color: $aHover;
            word-break: break-all;
            &:hover {
                color: lighten($aHover, 10);
            }
            &.download {
                color: #FFF;
                font-weight: bold;
                text-shadow: -1px 1px 5px RGBA(0, 0, 0, .5);
                background: $secondaryColor;
                border: 1px solid $secondaryColor;
                transition: .3s ease;
                &:hover,
                &:focus {
                    background: darken($secondaryColor, 5);
                    border: 1px solid darken($secondaryColor, 5);
                }
                &:before {
                    content: "";
                    width: 16px;
                    height: 16px;
                    background: url(../images/icon_download.png) no-repeat center bottom;
                    background-size: 16px;
                    display: inline-block;
                    margin-right: .5em;
                    vertical-align: middle;
                }
            }
        }
        .info {
            line-height: 1.5em;
            list-style: none;
            margin: 0 0 1em 0;
            @include box-sizing;
            padding: 0.5em 1em;
            background: #FAFAFA;
            @include border-radius(6px);
            ul {
                margin: 0;
                padding: 0;
                list-style: none;
            }
            li {
                width: 100%;
                margin-bottom: .1em;
                display: block;
                vertical-align: top;
                line-height: 1.65em;
                font-size: .938em;
                i {
                    width: 2em;
                    opacity: .5;
                    margin-right: 0em;
                    font-size: 1em;
                }
            }
        }

        .stat-tb{
            border: solid 1px #ddd;
            font-size: 1em;
            th{
                background: #605555;
                border: solid 1px #ddd;
                white-space: normal;
                color:#fff;
                line-height: 1.3em;
                padding: 8px 5px;
            }
            td{
                border: solid 1px #ddd;
                text-align: center;
                white-space: nowrap;
                line-height: 1.3em;
                padding: 5px;
            }
            .subtotal{
                background: #E8E8E8;
            }
            .amount{
                background: #ccc;
                font-weight: bold;
            }
        }
        .searchBody{
            label, select, input{
                display: inline-block;
                margin: .5em .1em .5em 0;
                width: auto;
                vertical-align: middle;

            }

        }
        .update{
            text-align: right;
            font-size: .9em;
            span{
                color:#F30;
            }
        }
        .share {
            @include make-xs-column(12);
            @include make-sm-column(6);
            @include make-md-column(6);
            @include make-lg-column(6);
            @include gutter(0);
            ul {
                @include li-reset;
            }
            margin-bottom: 1em;
            &+.function {
                @include make-xs-column(12);
                @include make-sm-column(6);
                @include make-md-column(6);
                @include make-lg-column(6);
                @include gutter(0);
                ul {
                    li {
                        float: left;
                    }
                }
                margin-bottom: 1em;
                height:auto;
                clear:none;
            }
        }



    }