// sitemap
.sitemap {
    margin:0 auto 1em;
    // padding-top: 1.5em;
    clear: both;
    color: #333;
    line-height: 1.8em;

    @include clearfix;
    .accesskeyDefine {
     padding: 1em 2em;
     background: #EEE;
     margin: .5em 0;
     @include border-radius(6px);
 }
}
.cascading {
 ul {
     @include li-reset;
     @include box-sizing;
     list-style-type: none;
     li {
        margin: 0 2% 0 0;
        line-height: 1.5em;
        font-size: 1em;
        list-style: none;
        // width: 47.5%;
        display: block;
        vertical-align: top;

        a {
         margin: 1em 0 0;
         color: #222;
         padding: .5em 0;
         display: block;
         font-size: 1.25em;
         font-weight: bold;
         border-bottom: 2px solid $secondaryColor;
         &:hover,
         &:focus {
             color: $secondaryColor !important;
             text-decoration: none;
         }
     }
     ul {
         margin-left: 1em;
         padding-left: 0%;
         li {
             width: 100%;
             display: block !important;
             margin-bottom: 0;
             font-size:1em;
             &:nth-child(2n) {
                 margin-right: 0;
             }
             li{
                font-size:1em;
            }
            a {
             margin-top: 0px;
             margin-bottom: 0px;
             display: block;
             padding-left: .5em;
             font-size: 1em;
             border-bottom: 1px dotted #ccc;
             background-color: transparent;
             color: #333;
             font-weight: bold;
         }
     }
 }
}
@include screen('mobile') {
 width: 95%;
 margin: 0px auto;
 li {
     width: 100%;
     &:nth-child(3n) {
         margin-right: 0;
     }
 }
}
}
}